@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue à SuperConf 2024</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis augue a leo facilisis, nec scelerisque dui egestas. Suspendisse mollis dolor a justo accumsan sagittis. Donec pellentesque semper nibh. Cras arcu magna, cursus ac dignissim nec, luctus sed erat. Proin at hendrerit sem, eu rutrum lacus. Suspendisse id odio non nulla ultrices pretium. Vivamus vitae gravida nisi, nec pulvinar turpis.
    </p>

    <a type="button" asp-controller="Inscription" class="btn btn-primary">Inscription</a>
</div>
