@model IndexViewModel

@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue à SuperConf 2024</h1>
    <p>
        Bienvenue à ma super conférence.
    </p>

    @if (Model.PlacesRestantes > 0)
    {
        <p>Il reste encore @Model.PlacesRestantes places !</p>
        <a type="button" asp-controller="Inscription" class="btn btn-primary">Inscription</a>
    }
    else
    {
        <p>Désolé il n'y a plus de places disponibles ! Tentez votre chance plus tard.</p>
    }

</div>
